<style>
#container{
width: 1200px;
border: 0px solid black;
color: white;
margin: 10px auto 10px auto;
height: 900px;
color: white;
font-size: 18;
}

a.menu
{color: white;
font-size: 200%;
font-family: Calibri;
padding: 10px 10px 10px;
width: 150px;
background-color: #46568a;
margin-right: 20px;
}


img.left {float:left;margin-right:20px;}

p.text 
{float:right;margin-right:20px;
font-size: 100%;
}

p.footer
{color: white;
background-color: #46568a;
}

</style>